.__filters {
    width: 100%;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    overflow-x: auto;
}

.__filters::-webkit-scrollbar {
    display: none;
}

.__filters .__filter {
    display: grid;
    cursor: pointer;
    font-size: .8rem;
    place-items: center;
    padding: .5rem 1rem;
    border-radius: 100px;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
}

.__filters .__filter .tabler-icon {
    width: 18px;
    height: 18px;
    stroke: var(--color-dark);
}

.__filters .__filter--active {
    border: none;
    color: var(--color-white);
    background-color: var(--color-primary);
}